<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../bootstrap.css">
  <style>
    .del{
      color: #ccc;
      text-decoration: line-through;
    }
  </style>
</head>
<body>

<div id="app">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="text-center">还有{{num}}件未完成</h3>
              <input type="text" class="form-control" v-model="dream" @keyup.13="addData">
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item" v-for="(item,i) in filterData" @dblclick="item.flag=!item.flag">
                  <input type="text" v-show="!item.flag" @blur="item.flag=!item.flag" v-focus="item.title" v-model="item.title" @keyup.13="item.flag=!item.flag">
                  <span v-show="item.flag">
                      <input type="checkbox" v-model="item.isSelected">&nbsp;&nbsp;
                      <span style="vertical-align:top" :class="{del:item.isSelected}">
                        {{item.title}}
                      </span>
                  </span>
                  <button class="btn btn-xs btn-danger pull-right" @click="removeData(item)">&bigotimes;</button>
                </li>
              </ul>
            </div>
            <div class="panel-footer">
                <ul class="nav nav-pills">
                  <li role="presentation" :class="{active:hash=='all'}"><a href="#/all">全部显示</a></li>
                  <li role="presentation" :class="{active:hash=='finish'}"><a href="#/finish">已完成</a></li>
                  <li role="presentation" :class="{active:hash=='unFinish'}"><a href="#/unFinish">未完成</a></li>
                </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
let vm = new Vue({
  el:"#app",
  data:{
    dream:"",
    hash:"all",
    arr:[
      {title:"换手机",isSelected:true,flag:true},
      {title:"换笔记本",isSelected:false,flag:true}
    ],
    filterData:[]
  },
  methods: {
    addData(){
      if(this.dream === "") {
        alert("不能为空")
        return
      }
      this.filterData.unshift({title:this.dream,isSelected:false,flag:true})
      this.dream = ""
    },
    removeData(val){
      this.filterData = this.filterData.filter(item=>item!=val);
    },
    cut(){
      if(this.hash == 'finish'){
        this.filterData = this.arr.filter(item=> item.isSelected);
      }else if(this.hash == 'unFinish'){
        this.filterData = this.arr.filter(item=> !item.isSelected);
      }else{
        this.filterData = this.arr;
      }
    },
    init(){
      location.hash = '#/'+localStorage.getItem('cut');
      this.hash=location.hash.substring(2);
      this.cut();
    }
  },
  computed: {
    num(){
      return this.arr.filter(item=>!item.isSelected).length
    }
  },
  directives:{
    focus(el,bindings){
      if(bindings.value){
        el.focus();
      }
    }
  },
  created() {
    this.init();
    window.addEventListener("hashchange",()=>{
      this.hash = location.hash.substring(2);
      localStorage.setItem('cut',this.hash);
      this.cut();
    })
  },
})
</script>  
</body>
</html>